</body>

<footer>
  <p style="color: rgb(219, 222, 18);"> Want to create your own custom list? </p>
  <p style="font-size: 1rem; color: rgb(219, 222, 18);"> {Append "/(list name)" to the route and get started}  <span><i class="fa-solid fa-face-smile-wink fa-bounce"></i></span></p>

  <br>
  Copyright 2021 Ajeetesh Awadh
</footer>

</html>
